---
// Props que podrían personalizarse
// You can define the dress code name here if needed
const dressCodeName = "Formal"; // Example: Cambiar a "Semi-Formal", "Cocktail", etc. si es necesario
---

<section id="dress-code" class="section bg-white">
  <div class="container mx-auto text-center">
    <img src="/images/icon-dresscode.png" alt="Dress Code Icon" class="mx-auto mb-4 h-12">
    <h2 class="section-title text-[#004AAD]">DRESS CODE</h2>

    <div class="max-w-2xl mx-auto mt-4 px-12">
      <p class="text-3xl text-[#004AAD] font-script tracking-wider">
        Elegante sport
      </p>
      <p class="text-md text-[#004AAD] mt-4 mb-4 font-plex-sans font-light unified-text">
        No olvides traer tu traje de baño
        <br />
        ¡La fiesta será en verano y podría terminar con todos bailando en la piscina!
      </p>
    </div>

  </div>
</section>